<!DOCTYPE html>
html
    head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="description", content="")
      meta(name="Keywords", content="")
      meta(name="author", content="")
      meta(http-equiv="cleartype", content="on")
      meta(name="google", content="notranslate")
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
      meta(name="HandheldFriendly", content="True")
      meta(name="description" content="Alselec Systems es una empresa proveedora de soluciones de automatización y control para la industria")
      meta(name="Keywords" content="Ingeniería, migración, PLC, DCS,Triconex, Hot Standby, Redundancia,Tablero, arco interno,interruptor, rele eléctronico, Sepam, Multilink, turbina, GE, General Electric, Variador de Frecuencia, media tensión, centro de control de motores, CCM, TGBT, MT, Schneider Electric, ABB, Rockwell Automatio, Allen Bradley, Siemens, Phoenix Contact, Rittal, minería, Oil & Gas, gas y petróleo, Mining, telemetría, SCADA, Wonderware, Vijeo Citect, Magelis, Quantum, Premiun, M340, M580, Altivar, revamping, ModBus TCP, Ethernet IP, IEC 65850, ControlNet, DeviceNet, CanOpen, Profibus, FieldBus, Puesta en Marcha, Mantenimiento, Puesta en servicio, programación, diseño, arquitectura de control, unifilar, funcional, trifilar, Autocad, instrumentación, control, RTU, Subestacion")
      link(rel="favicon" type="application/atom+xml" title="Alselec Systems" href="images/favicon.ico")
      link(rel="icon" type="image/png" href="images/favicon.png")
      link(rel="stylesheet", type="text/css", href="vendor/slick/slick-merged.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400")
      link(rel="stylesheet", type="text/css", href="css/styles.css")
      <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      title ALSELEC
    body
      include ../views/header.pug
      include ../views/slider.pug
      include ../views/our-products.pug
      include ../views/our-services.pug
      include ../views/about-us.pug
      include ../views/clients.pug
      include ../views/footer.pug

      script(src="vendor/jquery-1.12.4.min.js")
      script(src="vendor/slick/slick.min.js")
      <!-- build:js -->
      script(src="js/app.js")
      <!-- endbuild -->
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-44448223-1', 'alselec.com');
        ga('send', 'event', 'button', 'click', {'page': '/index'});
