<!DOCTYPE html>
html
    head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="description", content="")
      meta(name="Keywords", content="")
      meta(name="author", content="")
      meta(http-equiv="cleartype", content="on")
      meta(name="google", content="notranslate")
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
      meta(name="HandheldFriendly", content="True")
      meta(name="description" content="Alselec Systems es una empresa proveedora de soluciones de automatización y control para la industria")
      meta(name="Keywords" content="Alselec Systems, automatización, industria, control, iram, iso, seguridad, construccion")
      link(rel="favicon" type="application/atom+xml" title="Alselec Systems" href="images/favicon.ico")
      link(rel="icon" type="image/png" href="images/favicon.png")
      link(rel="stylesheet", type="text/css", href="vendor/slick/slick.css")
      link(rel="stylesheet", type="text/css", href="vendor/slick/slick-theme.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400")
      link(rel="stylesheet", type="text/css", href="css/styles.css")
      <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      title Alselec
    body
      include ../views/header.pug
      include ../views/slider.pug
      include ../views/our-products.pug
      include ../views/our-services.pug
      include ../views/about-us.pug
      include ../views/clients.pug
      footer
        p COPYRIGHT © 2008 - ALSELEC SYSTEMS S.A. - QUINTANA 948 - (1824) - LANUS BS AS - ARGENTINA - TEL/FAX: +54 11 5263-3091

      script(src="vendor/jquery-1.12.4.min.js")
      script(src="vendor/runtime.js")
      script(src="vendor/touchtap.js")
      script(src="vendor/slick/slick.min.js")
      script(src="js/templates.js")
      <!-- build:js -->
      script(src="js/app.js")
      <!-- endbuild -->
