div.about-us
  div.wrapper
    h2 QUIENES SOMOS
    h4.disclaimer Somos una empresa proveedora de soluciones de automatización, instrumentación y eléctrica para la industria.
    ul
      li.js-uncover
        img(src="images/about-us/about-us-1.png")
        div.info
          h5 NUESTROS OBJETIVOS
          div.content
            p Ofrecer soluciones globales en el área comercial, industrial y de infraestructura, abarcando desde el anteproyecto hasta la operación y mantenimiento. Ser el socio elegido por el cliente para tomar la responsabilidad en sus actividades secundarias. Trabajar junto al cliente para mejorar su eficiencia y competitividad.
            p Satisfacer las necesidades tecnológicas de nuestros clientes.
            p Aportar soluciones optimizando la relación costo-prestación.
            p Dedicarnos a la innovación, desarrollo y aplicación de nuevas tecnologías, ofreciendo soluciones rápidas y efectivas a los problemas de nuestros clientes. Asegurar el impacto estratégico de las soluciones tecnológicas en nuestros clientes.
      li.js-uncover
        img(src="images/about-us/about-us-2.png")
        div.info
          h5 NUESTRAS ESTRATEGIAS
          div.content
            p Ofrecer soluciones globales en el área comercial, industrial y de infraestructura, abarcando desde el anteproyecto hasta la operación y mantenimiento. Ser el socio elegido por el cliente para tomar la responsabilidad en sus actividades secundarias. Trabajar junto al cliente para mejorar su eficiencia y competitividad.
            p Satisfacer las necesidades tecnológicas de nuestros clientes.
            p Aportar soluciones optimizando la relación costo-prestación.
            p Dedicarnos a la innovación, desarrollo y aplicación de nuevas tecnologías, ofreciendo soluciones rápidas y efectivas a los problemas de nuestros clientes. Asegurar el impacto estratégico de las soluciones tecnológicas en nuestros clientes.
      li.js-uncover
        img(src="images/about-us/about-us-3.png")
        div.info
          h5 VENTAJAS COMPETITIVAS
          div.content
            p Ser un proveedor de sistemas de control, ingeniería y servicios.
            p Mantener una organización ágil y multidisciplinaria.
            p Contar con un equipo profesional responsable e idóneo.
            p Entender el negocio del cliente.
            p Utilizar productos de reconocidas marcas internacionales.
            p Proponer soluciones adaptadas a los requerimientos de cada cliente.
            p A través de alianzas con proveedores internacionales líderes en productos y soluciones garantizamos tecnología de punta y la protección de la inversión del cliente en todas nuestras soluciones.
