div.clients
  div.wrapper
    h2 CLIENTES
    ul
      li YPF
      li OXBOW
      li TOTAL AUSTRAL
      li SHELL
      li PETROBRAS
      li OXY
      li OILTANKING
      li ENARSA
      li PETROKEN
      li PETROQUIMICA CUYO
      li AKZONOBEL
      li XSTRATA COPPER
      li YAMANA GOLD
      li GOLDCORP
      li VALE
    ul
      li MINERA SANTA CRUZ
      li CERRO VANGUARDIA
      li ISOLUX CORSAN
      li ASTRA EVANGELISTA
      li PEUGEOT CITROEN ARGENTINA
      li VOLKSWAGEN ARGENTINA
      li BRIDGESTONE FIRESTONE
      li CEMENTOS AVELLANEDA
      li LOMA NEGRA
      li TECHINT CONSTRUCCIONES
      li ALSTOM ARGENTINA
      li SCHNEIDER ELECTRIC ARGENTINA
    ul
      li GENERAL ELECTRIC ARGENTINA
      li INVENSYS
      li PRAXAIR
      li FEMSA
      li P&G
      li DANONE
      li EXAL
