div.contact-container
  h2 Contactese con Nosotros
  div.form-container
    div.left-panel
      h5 Dirección
      p Quintana 948
      p (1824) - Lanús Bs As - Argentina
      p Tel/Fax: +54115263-3091
    form.right-panel
      label Nombre
        input(type="text" name="nombre")
      label Email
       input(type="email" name="nombre")
      label Mensaje
       textarea(name="mensaje")
      input(type="submit", value="Enviar")
