header
  a(href="")
    h1.logo Alselec
  a(href="#").slide-menu.js-slide-menu
    span
    span
    span
    span
  nav.main-nav
    a(href="") Inicio
    a(href="contacto.html") Contacto
    span.cert.js-cert Certificaciones
    div.sub-menu
      a(href="pdfs/ISO_9000_IQNET.pdf" target="_blank")
        span ISO 9000 IQNET
      a(href="pdfs/ISO9000_IRAM.pdf" target="_blank")
        span ISO9000 IRAM
      a(href="pdfs/ISO14000_IQNET.pdf" target="_blank")
        span ISO14000 IQNET
      a(href="pdfs/ISO14000_IRAM.pdf" target="_blank")
        span ISO14000 IRAM
    nav.top-nav
      a(href="http://alselec.com/pdfs/politicas_de_gestion_integrada.pdf" target="_blank").btn-download Politicas de Gestion Integrada
      a(href="http://alselec.com/pdfs/brochure_alselec.pdf" target="_blank").btn-download Brochure
      a(href="http://www.linkedin.com/company/alselec-systems" target="_blank").btn-linkedin Linkedin
