div.our-services
  div.wrapper
    h2 NUESTROS SERVICIOS
    ul
      li.js-uncover
        img(src="images/our-services/service-1.png")
        div.info
          p ASESORAMIENTO
          p SOPORTE Y SOLUCIONES
          div.content
            p Nuestro departamento de Proyectos y Obras brinda a nuestros clientes el soporte necesario para diseñar, ejecutar y/o ampliar obras de instrumentación, control y automatización industrial, a través de soluciones llave en mano que integren productos de las principales marcas del mercado, con garantía total y el respaldo de Alselec Systems.
      li.js-uncover
        img(src="images/our-services/service-2.png")
        div.info
          p OBRAS Y PROYECTOS
          p AMPLIA EXPERIENCIA
          div.content
            p Alselec Systems le ofrece como garantía de éxito todas sus referencias en la mayoría de los sectores de la industria, y una amplia experiencia en la adaptación a las necesidades específicas de cada cliente. Nuestro objetivo es trabajar con usted para entender sus necesidades y poder ofrecer soluciones personalizadas, permitiéndole focalizarse en su actividad principal.
      li.js-uncover
        img(src="images/our-services/service-3.png")
        div.info
          p MANTENIMIENTO
          p COMPROMISO A LARGO PLAZO
          div.content
            p Compromiso a largo plazo. Nuestro compromiso no se termina con la finalización del proyecto. Nuestros contratos de mantenimiento brindan el soporte de servicio necesario durante todo el ciclo de vida de la instalación, colaborando para que siga funcionando de manera confiable, segura y eficiente.
