div.our-products
  a(href="#our-products").arrow.js-goto-products
  a.title(name="our-products") NUESTROS PRODUCTOS
  ul
    li
      div.product.product-1
        span.product-info
          p
            | SISTEMAS <br/>
            | INSTRUMENTADOS <br/>
            | DE SEGURIDAD
    li
      div.product.product-2
        span.product-info
          p
            | SISTEMAS <br/>
            | DE AUTOMATIZACIÓN <br/>
            | INDUSTRIAL
    li
      div.product.product-3
        span.product-info
          p
            | INGENIERÍA <br/>
            | CONSTRUCCIÓN <br/>
            | INSTALACIÓN
    li
      div.product.product-4
        span.product-info
          p
            | INSTRUMENTACIÓN <br/>
            | Y CONTROL
