div.slider.regular
  div
    div.slide.slide-1
      div.container-info
        p INGENIERIA DE CONTROL DE PROCESOS INDUSTRIALES
  div
    div.slide.slide-2
      div.container-info
        p INGENIERIA SISTEMAS ELECTRICOS INDUSTRIALES
  div
    div.slide.slide-3
      div.container-info
        p CONSTRUCCION E INSTALACION
  div
    div.slide.slide-4
      div.container-info
        p INSTRUMENTACION DE PROCESOS
  div
    div.slide.slide-5
      div.container-info
        p SISTEMAS INDUSTRIALES PARA GAS Y PETROLEO
  div
    div.slide.slide-6
      div.container-info
        p SISTEMAS INDUSTRIALES PARA MINERIA
