.slider {
	position: relative;
	margin: auto;

	.slick-slide {
		// margin: 0px 20px;
		img {
      width: 100%;
    }
	}

	.slick-prev {
		left: 25px;
		z-index: 10;
		&:before {
		}
	}
	.slick-next {
		right: 25px;
		:before {
		}
	}

	.slide {
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		@include respond-to('medium') {
			height: 553px;
		}
	}

	.slide-1 {
		background-image: url("../images/slider/slide-1.png");

		.container-info {
			background-color: #41ceda;
      opacity: .9;

		}
	}
	.slide-2 {
		background-image: url("../images/slider/slide-2.png");
		.container-info {
			background-color: #1695ed;
      opacity: .9;
		}
	}

	.slide-3 {
		background-image: url("../images/slider/slide-3.png");
		.container-info {
			background-color: #0e5662;
      opacity: .9;
		}
	}

	.slide-4 {
		background-image: url("../images/slider/slide-4.png");
		.container-info {
			background-color: #d4cb5e;
      opacity: .9;
		}
	}

	.slide-5 {
		background-image: url("../images/slider/slide-5.png");
		.container-info {
			background-color: #7d8261;
      opacity: .97;
		}
	}

	.slide-6 {
		background-image: url("../images/slider/slide-6.png");
		.container-info {
			background-color: #81aa5c;
      opacity: .97;
		}
	}


	.container-info {
		position: absolute;
		padding: 20px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 10;
		color: #fff;
		// &:after {
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	bottom: 0;
		// 	right: 0;
		// 	left: 100%;
		// 	box-shadow: 1px 0px 10px 2px #000;
		// }

		@include respond-to('medium') {
			width: 400px;
			right: 100px;
			opacity: 0.95;
			left: initial;
		}

		p {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 22px;
			text-align: center;
			width: 90%;
			margin: 0;
			@include respond-to('medium') {
				width: 80%;
			}
		}
	}

	.slick-arrow {
		@include respond-to('medium') {
			background-image: url("../images/arrow-slider.png");
			background-size: cover;
			width: 35px;
			height: 54px;
		}
		&:before {
			display: none;
		}

	}
	.slick-prev {
			transform: translate(0, -50%) rotate(180deg);
	}
}
